<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje</title>
    <meta th:replace="~{common::viewport}"/>
    <link th:replace="~{common::bootstrap}"/>
    <link th:replace="~{common::main}"/>
</head>
<body>
<nav th:replace="~{common::menu}"></nav>

<div class="container">
<h1>A verification link has been sent to your email account.</h1>
<p>Please click on the link that has just been sent to your email account.</p>
<p>It will take up to 5 minutes to arrive.</p>
</div>

<footer th:replace="~{common::footer}"></footer>
<div th:replace="~{common::bootstrapScripts}"></div>
</body>
</html>
