<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje</title>
    <meta th:replace="~{common::viewport}"/>
    <link th:replace="~{common::bootstrap}"/>
    <link th:replace="~{common::main}"/>

</head>
<body>
<div th:insert="~{common::menu}"></div>

<div class="alert alert-success alert-dismissible" th:if="${successmessage}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:text="${successmessage}"></strong>
</div>

<div class="alert alert-danger alert-dismissible" th:if="${errormessage}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:text="${errormessage}"></strong>
</div>

<h4>Dodaj domek.</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form th:action="@{/cottage/create}" method="POST" th:object="${cottage}" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="hidden" id="id" name="id" th:value="${cottage.id}"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="name" placeholder="Nazwa" name="name"
                           th:value="${cottage.name}"/>
                </div>
                <div class="form-group">
                    <select class="form-control" type="text" id="region" placeholder="Region" name="region"
                            th:value="${cottage.region}">
                        <option>morze</option>
                        <option>gory</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="city" placeholder="Miasto" name="city"
                           th:value="${cottage.city}"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="streetAndNumber" placeholder="Adres"
                           name="streetAndNumber"
                           th:value="${cottage.streetAndNumber}"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" id="noOfRooms" placeholder="Liczba pokoi" name="noOfRooms"
                           th:value="${cottage.noOfRooms}"/>
                </div>
                <div class="form-control mb-3">
                    <input class="form-control-file" type="file" id="files" name="files" placeholder="Wybierz"
                           multiple="multiple" th:value="${cottage.files}"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-light" type="submit">Zatwierdź</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{common::footer}"></footer>
<div th:replace="~{common::bootstrapScripts}"></div>
</body>
</html>